
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 100%;
}

header{
    width: 100%;
    height: 145px;
}
#topo{
    width: 100%;
    height: 60px;
    padding: 18px 40px;
    background-color: rgb(30, 57, 50);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* transition: .5s,top 1s; */
    text-decoration: none;
    font-family: 'Helvetica',Arial,sans-serif;
    position: fixed;
    font-size: 19px;
    align-items: center;
}

a{
    padding: 0px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Helvetica',Arial,sans-serif;
   
}
img{
    padding: 0px 100px;
}
main{
    background: transparent;
    width: 100%;
    height: 900px;
    padding: 150px 40px;
    margin: 0 auto;
  
    /* background-color: rgb(53, 17, 211); */
}

#bloco_login{
    width: 30%;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
}
h4{
    /* padding: 0px 170px; */
    align-items: left;
    justify-content: center;
}
#btn_Entrar{
    width: 100%;
    height: 50px;
    background-color: rgb(57, 182, 149);
    border-radius: 10px;
    border: none;
    color: #32ce16;
    font-family: 'Helvetica',Arial,sans-serif;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 1px;
}
footer{
    width: 100%;
    height: 60px;
    padding: 15px 40px;
    background-color: rgb(87, 139, 126);
    font-size: 18px;
   
}
/* #footer-menu{
    width: 100%;
    height: 60px;
    padding: 15px 40px;
    background-color: rgb(87, 139, 126);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

